@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #282C34;
}
.App{
  margin: 30px 10px 60px;
}
.App .heading{
  text-align: center;
  color:white;
  font-size: 26px;
  font-weight: 400;
}
.App .subtitle{
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding:10px 0;
}

.container{
  max-width: 1250px;
  margin: auto;
  padding:10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col-4{
  flex-basis: 25%;
  min-width: 250px;
  padding:10px
}
.card{
  background: #ffffff;
  padding:10px;
  border-radius: 3px;
}
.card-img{
  background: #000;
}
.card-img img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.card-info{
  padding:10px 0;
  position: relative;
}
.card-info .card-id{
  position: absolute;
  right:10px;
  top:12px;
  background: #555;
  padding: 6px 10px;
  border-radius: 50%;
  color:white;
}
.card-info .card-title{
  font-size: 20px;
  padding: 5px 0;
}
.card-info .card-text{
  font-size: 15px;
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}
